@import './Auth/login.scss';
@import './Auth/register.scss';
@import './Browse/mixins.scss';
@import './Browse/graphTable.scss';
@import './Browse/options.scss';
@import './Browse/modals/map.scss';
@import './Browse/modals/marker.scss';
@import './Browse/modals/saveChart.scss';
@import './Gallery/gallery.scss';


.cursor-pointer {
  cursor: pointer;
}

.chart-hr {
  border: 3px solid;
}

.error-placeholder::placeholder {
    color: #c90000;
    font-weight: bold;
}

.light-placeholder::placeholder {
    color: black;
}

